* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 0.1fr 1.9fr;
}

header {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid black;
  height: 100px;
}

.logo {
  width: 150px;
  height: 100px;
  cursor: pointer;
}

.center-nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.search-form {
  display: flex;
  flex-direction: row;
}

.search {
  margin-top: 40px;
  width: 40vw;
  max-width: 500px;
  height: 40px;
  border: none;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  outline: none;
  padding-left: 15px;
}

.search-form .submit-search {
  margin-top: 40px;
  height: 40px;
  width: 50px;
  outline: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.center-nav .microphone {
  margin-top: 40px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 50%;
}

.right-nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-right: 20px;
}

.right-nav .add-video,
.right-nav .notification,
.right-nav .profile {
  margin-top: 40px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.left-scroll {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 25px;
  height: 100%;
}

.left-scroll .home,
.left-scroll .shorts,
.left-scroll .subscribers,
.left-scroll .library {
  width: 35px;
  height: 35px;
  cursor: pointer;
}
