@import url("https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@700&family=Noto+Sans&family=Rubik:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
}

body {
  margin-top: 20px;
}

.center {
  flex-direction: row;
}

.right-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}
header .up {
  margin: 0;
  display: flex;
  flex-direction: row;
}

.logo-menu {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 200px;
}
.menu {
  margin: 10px;
}

.logo {
  width: 100%;
  height: 30px;
  cursor: pointer;
}

.center-nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.search-form {
  display: flex;
  flex-direction: row;
}

.search {
  width: 40vw;
  max-width: 500px;
  height: 40px;
  border: none;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  outline: none;
  padding-left: 15px;
  background-color: white;
  border: 1px solid gray;
}

.search-form .submit-search {
  height: 40px;
  width: 50px;
  outline: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgb(251, 251, 251);
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.center-nav .microphone {
  width: 60px;
  height: 60px;
  cursor: pointer;
  margin-top: 15px;
  border-radius: 50%;
  color: rgb(86, 86, 86);
}

.right-nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-right: 50px;
}

.right-nav .add-video,
.right-nav .notification,
.right-nav .profile {
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.right-nav .notification {
  margin-top: 10px;
}

.down {
  display: grid;
  grid-template-columns: 1.2fr 10fr;
  height: 100%;
}

.left-scroll {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100%;
}

.left-scroll .left {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 20px;
}

.left-scroll .homediv,
.trenddiv,
.subscriptdiv,
.librarydiv,
.historydiv,
.laterdiv,
.likeddiv {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  padding: 10px;
}

.homediv:hover,
.trenddiv:hover,
.subscriptdiv:hover,
.librarydiv:hover,
.historydiv:hover,
.laterdiv:hover,
.likeddiv:hover {
  background-color: rgb(186, 181, 181);
}

.act {
  width: 100%;
}
.left .active {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  align-items: flex-start;
  gap: 30px;
  height: 100%;
}
.active .homediv .hm {
  display: flex;
  flex-direction: row;
}

.active .homediv {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.down-cat {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  align-items: center;
  text-align: center;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
}

.down-cat span {
  border-radius: 20px;
  cursor: pointer;
  padding: 10px;
  background-color: rgb(231, 231, 231);
  display: grid;
  grid-template-rows: min-content;
}

.cards {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px;
  background-color: rgb(250, 250, 250);
}
.cards p {
  color: black;
  text-decoration: none;
}

.cards .video-img {
  width: 100%;
}
.cards .video {
  /* padding: 20px; */
}
.video-title {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: none;
}

.video-title img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.subscriptions {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* margin-top: 20px; */
}
.subscriptions p {
  padding-left: 10px;
  font-weight: bold;
  color: rgb(62, 60, 60);
}
.icon-title {
  color: rgb(63, 63, 63);
  font-weight: 900;
}

.subElements {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.subElements .sub:hover {
  background-color: rgb(193, 188, 188);
}

.subElements .sub {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  gap: 10px;
}

.subscriptdiv {
  border-bottom: 1px solid gray;
}

@media (max-width: 1450px) {
  .cards .video {
    width: 100%;
  }
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1000px) {
  .down {
    display: grid;
    grid-template-columns: 1fr 17fr;
  }

  .subscriptdiv {
    border-bottom: none;
  }

  .subscriptions,
  .historydiv,
  .laterdiv,
  .likeddiv,
  .icon-title {
    display: none;
  }
}

@media (max-width: 1100px) {
  .cards .video {
    width: 100%;
  }
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 800px) {
  .cards .video {
    width: 100%;
  }
  .cards {
    display: grid;
    grid-template-columns: 1fr;
  }
}
